section.banner-wrapper#banner-img
	.banner-overl
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img.banner-img.ofcv( name="image" src="./assets/Header/banner1.png", alt="")
			.swiper-slide
				img.banner-img.ofcv( name="image" src="./assets/Header/banner2.png", alt="")