footer
	.container-fluid.footer-wrapper
		.row.footer-top
			.col-2.logo-info--wrapper
				.footer-top--img
					img.footer-top--logo(src="./assets/footer/logo.png", alt="")
				.footer-top--info
					.footer-top--item
						p Add: Tòa nhà H3, 384 Hoàng Diệu, Quận 4, TP.Hồ Chí Minh
					.footer-top--item
						p Phone: 028. 38266766
					.footer-top--item
						p Fax: 028. 38266766
					.footer-top--item
						p Email: info@antingroup.vn
			.col-2.footer-top--info.footer-top--group
				.footer-top--mt
					.footer-top--text
						p.footer-info--text VỀ AN TÍN GROUP
					.footer-top--item
						p Thông Điệp CT HĐQT
					.footer-top--item
						p Tuyên Ngôn Giá Trị
					.footer-top--item
						p Tuyên Ngôn Chiến Lược
					.footer-top--item
						p Công Ty Thành Viên
					.footer-top--item
						p Khách Hàng
			.col-3.footer-top--info
				.footer-top--mt
					.footer-top--text
						p.footer-info--text LĨNH VỰC HOẠT ĐỘNG
					.footer-top--item
						p Lĩnh Vực Truyền Thông
					.footer-top--item
						p Lĩnh Vực Du Lịch
					.footer-top--item
						p Lĩnh Vực Công Nghệ
					.footer-top--item
						p Lĩnh Vực Đầu Tư
					.footer-top--item
						p Lĩnh Vực Du Học
					.footer-top--item
						p Lĩnh Vực Đào Tạo
			.col-2.footer-top--info
				.footer-top--mt
						.footer-top--text
							p.footer-info--text THÔNG TIN
						.footer-top--item
							p Sự Kiện An Tín
						.footer-top--item
							p Video Sự Kiện An Tín
						.footer-top--item
							p Tuyển Dụng
						.footer-top--item
							p Thư Viện Ảnh
						.footer-top--item
							p Cơ Hội Nghề Nghiệp
						.footer-top--item
							p Liên Hệ
			.col-3.footer-top--info
				.footer-top--mtmb.footer-top--mt
						.footer-top--text
							p.footer-info--sub ĐĂNG KÍ NHẬN TIN
						.footer-top--item
							p.footer-top-item--text Xin vui lòng để lại địa chỉ email, chúng tôi sẽ cập nhật những tin tức quan trọng của An Tín Group tới quý khách
						.footer-top--item
							.footer-top--input
								input(type="text" placeholder="Email")
								.footer-top--button
									span XÁC NHẬN
						.footer-top--item
							.footer-top--social
								-for(i=1;i<=4;i++)
									a.footer-social--item
										img(src=`./assets/Footer/${i}.png`, alt="")
	.footer-bottom
		p.footer-bottom--text Copyright © 2019 An Tin Group. All rights reserved. Designed by Web4G Solutions